:root{
	--highlight-blue: rgb(47, 128, 227);
	--text-grey: rgb(68, 68, 68);
}

html{
	height: 100%;
	position: relative;
}

body {
  max-width:1000px;
  width: 90%;
  line-height:1.6;
  font-size:18px;
  color: var(--text-grey);
  padding:0 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 17px; */
}

.content-container{
	display: flex;
	justify-content: center;
}

.content{
	margin-left: 120px;
	margin-right: 120px;
	--animate-duration: 1s;
}

.scroll-button{
 margin-top: auto;
 margin-bottom: auto;
 --animate-duration: 0.5s
}

a{
  text-decoration: none;
  color: var(--highlight-blue);
}

.footer{
  display: flex;
  justify-content: center;
}

.icon{
  margin: 10px;
}

.link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 2px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size .1s ease-in-out;
	}

	.link-underline-black {
		background-image: linear-gradient(transparent, transparent), linear-gradient(var(--highlight-blue), var(--highlight-blue))
	}

	.link-underline:hover {
		background-size: 100% 2px;
		background-position: 0 100%
	}


/* @media only screen and (max-width: 600px) {
.scroll-button{
	display: none;
}
.content{
	margin: 0;
}
} */